body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    border-radius: 20px;
    border: 0;
    font-size: 2em;
    width: 5em;
    height: 3em;
    text-align: center;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

button:hover{
    color: #000;
    border: 1px solid #000;
    background-color: transparent;
}

input{
    flex: 1;
}